    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="artist-body container">
      <div class="row">
        <div class="col-lg-6 artist-section ">
            <div class="d-flex">
                <div class="artist-cover">
                  <!-- <div class="music-player">
                    <audio controls>
                      <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                  </div> -->
                  <div id="app-cover">
                    <div id="player">
                      <div id="player-track">
                        <div id="album-name"></div>
                        <div id="track-name"></div>
                        <div id="track-time">
                          <div id="current-time"></div>
                          <div id="track-length"></div>
                        </div>
                        <div id="s-area">
                          <div id="ins-time"></div>
                          <div id="s-hover"></div>
                          <div id="seek-bar"></div>
                        </div>
                      </div>
                      <div id="player-content">
                        <div id="album-art">
                          <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg" class="active" id="_1">
                        </div>
                        <div id="player-controls">
                          <div class="control">
                            <div class="button" id="play-previous">
                              <i class='bx bx-skip-previous bx-md text-dark' ></i>
                            </div>
                          </div>
                          <div class="control">
                            <div class="button" id="play-pause-button">
                              <i class='bx bx-play bx-md text-dark' ></i>
                            </div>
                          </div>
                          <div class="control">
                            <div class="button" id="play-next">
                              <i class='bx bx-skip-next bx-md text-dark' ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-light">
          <div class="artist-music">
            
          </div>
        </div>
      </div>

    </div>
