    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="artist-body container mb-5 row">
        <div class="align-items-center d-flex  mb-5">
          <div class="avatar mt-3 mx-2">
            <a routerLink="/artists/feezy-b">
              <img src="../../../../assets/images/felix_1.png" alt="Skytsunami" />
            </a>
          </div>
          <p>Feezy B</p>
        </div>

        <div class="align-items-center d-flex ">
          <div class="avatar mx-2">
            <a routerLink="/artists/kijah-jesse">
              <img src="../../../../assets/images/photo_2022-08-08_00-48-29.jpg" class="artist-2" alt="Skytsunami" />
            </a>
          </div>
          <p>Kijah Jesse</p>
        </div>
    </div>
