    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="contact-body container">
        <div class="row">
            <div class="align-items-center col-md-6 d-flex mb-5 text-light">
                <div class="contact-left">
                    <div class="contact-text text-center mb-3">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="mb-3 align-items-center d-flex mb-3">
                        <div class="icon-rounded mx-3">
                            <i class='bx bxs-phone-call bx-md' ></i>
                        </div>
                        <div>
                            <a href="tel:+2348143461552">+2348143461552</a>
                        </div>
                    </div>
                    <div class="mb-3 align-items-center d-flex mb-3">
                        <div class="icon-rounded mx-3">
                            <i class='bx bxs-envelope bx-md' ></i>
                        </div>
                        <div>
                            <a href="mailto:info@xolidmusicrecordz.com">info@xolidmusicrecordz.com</a>
                        </div>
                    </div>
                    <div class="mb-3 align-items-center d-flex mb-3">
                        <div class="icon-rounded mx-3">
                            <i class='bx bxs-map bx-md' ></i>
                        </div>
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 contact-form ">
                <div class="container text-muted p-4">
                    <form action="mailto:info@xolidmusicrecordz.com">
                       <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email">
                          </div>
                       </div>
                       <div class="form-group mb-4">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="text-center">
                          <button type="submit" class="btn cus-btn">Submit</button>
                      </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
