.cus-btn{
    color: #fff;
    background-color: #5c5959;
}

button:hover{
    border: 2px solid #5c5959;
    transition: 0.5s;
    background: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Lato', sans-serif;
  }

.icon-rounded{
    background: radial-gradient(circle, rgba(41,41,41,1) 8%, rgba(26,26,26,1) 42%, rgba(164,94,27,1) 93%);
    width: 45px;
    height: 44px;
    display: flex;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
}

.contact-left{
    transform: scale(1.2);
}