.about-body{
    padding: 2em;
}

.about-img{
  background: url('../images/img2.jpg');
    background-position: 117em 226.5em;
    width: 75%;
    height: 154%;
    border-radius: 40em;
    position: relative;
    top: -3em;
    left: 5em;
}

.cus-menu-btn:hover{
  color: #F1474E
  }

  .cus-nav-link > a{
    text-decoration: none !important;
    transition: 0.5s;
    font-weight: 500;
  }

  .cus-nav-link > a:hover{
      color: #F1474E;
  }

  .artist-cover{
    /* background-color: #d7d5d5; */
    width: 80%;
    height: 30em;
    background: url('../images/photo_2022-08-08_00-48-29.jpg');
    background-position: 43em 31.5em;
    border-radius: 5px;
    /* z-index: 1; */
    /* position: absolute; */
    /* left: -51px; */
  }
  
  .disk-img{
    width: 100%;
    left: 20%;
    top: 0em;
    /* position: relative; */
  }

  .artist-music{
    background-color: #f6f6f6;
    height: 35em;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 30px 0;
    margin-bottom: 49px;
    /* background-color: rgba(255,255,255,.55); */
    border-radius: 5px;
    -webkit-box-shadow: 2px 7px 17.82px 0.18px rgb(228 155 148 / 20%);
    box-shadow: 2px 7px 17.82px .18px rgba(228,155,148,.2);
  }

  @media (min-width: 320px) {
    /* .artist-cover {
      background-position: 32em 13.5em;
      width: 61%;
      background-size: 16em 26em;
  }
  .disk-img {
    width: 90%;
    left: 19%;
    top: 0em;
} */
  }