<!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="container mb-5">
        <div class="careet-title text-light">
            <h3 class="mb-5 fw-bold">
                Social Media Manager
            </h3>

            <h5 class="mb-3 fw-bold">Responsibilities</h5>

            <p>
                The Xolid Music Record Social Media Manager is a key role. The selected candidate will be in charge of *representing Xolid Music Record. across all social channels as the sole voice of the brand*.
            </p>

            <p class="mb-5">
                You will provide our company with your expertise to enhance online presence in all aspects of social media and social engagements, Public Relations as needed while managing existing social media marketing platforms. You will create and manage our company image in a cohesive way to achieve our marketing goals. Ultimately, you should be able to handle our social media presence ensuring high levels of web traffic and customer engagement.
            </p>

            <h5 class="fw-bold">
                Experience/Skills:
            </h5>
            <ul class="req-lists">
                <li>
                    <p>Successful track record with Social Media.</p>
                </li>
                <li>
                    <p>Advanced social strategy abilities</p>
                </li>
                <li>
                    <p>Experience with Social, Facebook, Instagram, YouTube, Tik Tok, Digital Ad based, Web, E-commerce</p>
                </li>
                <li>
                    <p>Establishing brand awareness</p>
                </li>
                <li>
                    <p>Strong and consistent communication skills</p>
                </li>
                <li>
                    <p>Creativity to Think outside the box</p>
                </li>
                <li>
                    <p>Understanding of analytics and reporting</p>
                </li>
                <li>
                    <p>Positive attitude, detail and customer oriented with good multitasking and organizational ability</p>
                </li>
            </ul>

            <div class="container text-muted p-4 contact-form">
              <form action="mailto:info@https://xolidmusicrecordz.com">
                 <div class="row">
                  <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleInputPassword1">Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Enter Email">
                    </div>
                 </div>
                 <div class="form-group mb-4">
                  <label for="exampleFormControlTextarea1">Upload CV</label>
                  <input type="file" name="resume" id="exampleFormControlTextarea1" rows="3">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn cus-btn">Submit</button>
                </div>
                </form>
          </div>
        </div>

        <!-- <div class="text-light mb-5">
          <h4>Contact us: <a href="mailto:xyz@mail.com" class="text-info">mailto:xyz@mail.com</a></h4>
        </div> -->
    </div>
