<!-- HEADER -->
<app-header-two></app-header-two>
<!-- HEADER -->

<div class="artist-body container">
  <div class="row">
    <div class="col-lg-6 artist-section ">
      <div class="d-flex mb-4">
        <div class="feezy-cover">
          <div class='main'>
            <div class='head'>
              <h1>Feezy B</h1>
            </div>
          </div>
          </div>
        </div>
      </div>

    <div class="col-lg-6 text-light">
      <div class="artist-music">
        <div class="mb-4" >
          <div class="artist-music-list">
            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/high-zone-feat-kijah-jesse/1546581443?i=1546581448"></iframe>
          </div>
        </div>

        <div class="mb-4" >
          <div class="artist-music-list">
            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/y-d-p-anthem-feat-gravity-kijah-jesse-iiicy/1543513546?i=1543513554"></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
