    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="container">
        <div class="careet-title text-light">
            <h3 class="mb-3 fw-bold">
                Latest Vacancies
            </h3>

            <!-- <ul class="req-lists">
                <li class="mb-4 fw-bold">
                    <a routerLink="/jobs/account-manager">Account Manager</a>
                </li>
                <li class="fw-bold">
                    <a routerLink="/jobs/digital-marketer">Digital Marketer</a>
                </li>
            </ul> -->

            <div class="row pad d-block mb-3">
              <div class="cus-card mb-4 d-block p-1">
                <div class="d-flex mt-2">
                  <div class="mx-3 cus-badge clr-1">
                    <p class="">onsite</p>
                  </div>
                  <div class="cus-badge clr-2">
                    <p class="">Asaba</p>
                  </div>
                </div>
                <div class="card-sub">
                  <p>Account Manager</p>
                <a routerLink="/jobs/account-manager">Apply <i class='bx bx-chevron-right bx-sm'></i></a>
                </div>
              </div>

              <div class="card-sub2 d-block p-1 mb-5">
                <div class="d-flex mt-2">
                  <div class=" mx-3 cus-badge clr-3">
                    <p class="">onsite</p>
                  </div>
                  <div class=" cus-badge clr-4">
                    <p class="">Asaba</p>
                  </div>
                </div>
                <div class="card-sub2 mx-3 mb-3">
                  <p class="mt-2">Digital Marketer</p>
                  <a routerLink="/jobs/digital-marketer">Apply <i class='bx bx-chevron-right bx-sm'></i></a>
                </div>
              </div>
            </div>
        </div>
    </div>
