    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="container">
        <div class="careet-title text-light">
            <h3 class="mb-5 fw-bold">
                Digital Marketer
            </h3>

            <h5 class="mb-3 fw-bold">Responsibilities</h5>

            <p>
                The Xolid Music Record Social Media Manager is a key role. The selected candidate will be in charge of *representing Xolid Music Record. across all social channels as the sole voice of the brand*.
            </p>

            <p class="mb-5">
              The primary function will be to designing and execute marketing campaigns that support a company's brand, goods, and services. Planning campaigns, assessing metrics, and recognizing trends.
            </p>

            <h5 class="fw-bold">
                Experience/Skills:
            </h5>
            <ul class="req-lists">
                <li>
                    <p>Adaptability.</p>
                </li>
                <li>
                    <p>Communication.</p>
                </li>
                <li>
                    <p>Initiative.</p>
                </li>
                <li>
                    <p>Curiosity.</p>
                </li>
                <li>
                    <p>Flexibility</p>
                </li>
                <li>
                    <p>Competitiveness</p>
                </li>
                <li>
                    <p>Agility</p>
                </li>
            </ul>
            <div class="container text-muted p-4 contact-form">
              <form action="mailto:info@https://xolidmusicrecordz.com">
                 <div class="row">
                  <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleInputPassword1">Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Enter Email">
                    </div>
                 </div>
                 <div class="form-group mb-4">
                  <label for="exampleFormControlTextarea1">Upload CV</label>
                  <input type="file" name="resume" id="exampleFormControlTextarea1" rows="3">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn cus-btn">Submit</button>
                </div>
                </form>
          </div>
        </div>
    </div>
