<!-- HEADER -->
<app-header-two></app-header-two>
<!-- HEADER -->

<div class="artist-body container">
  <div class="row">
    <div class="col-lg-6 artist-section ">
      <div class="d-flex mb-4">
        <div class="artist-cover">
          <!-- <div class="music-player">
                <audio controls>
                  <source src="horse.mp3" type="audio/mpeg">
                </audio>
              </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-light">
      <div class="artist-music">
        <div class="mb-4" >
          <div class="container">
          <p class="text-dark font-weight-bold p-cus-margin">On the move</p>
          </div>
          <div class="artist-music-list">
            <audio controls>
              <source src="https://music.apple.com/us/album/on-the-move/1543420994?i=1543420998" type="audio/mpeg">
            </audio>
            <div class="artist-music-links">
              <a class="apple" routerLink="https://music.apple.com/us/album/on-the-move/1543420994?i=1543420998"><i class='bx bxl-apple  bx-sm mx-2' ></i></a>
              <a class="spotify" routerLink="https://open.spotify.com/track/05Xe8UMHnnYGmrXrCoFHo2?si=c09b1ca2d20d4f72"><i class='bx bxl-spotify bx-sm mx-2'></i></a>
              <i class='bx bxs-download bx-sm mx-2'></i>
            </div>
          </div>
        </div>
        <div class="mb-4" >
          <div class="container">
          <p class="text-dark font-weight-bold p-cus-margin">Tip toe</p>
          </div>
          <div class="artist-music-list">
            <audio controls>
              <source src="https://music.apple.com/us/album/tip-toe/1531593507?i=1531593513" type="audio/mpeg">
            </audio>
            <div class="artist-music-links">
              <a class="apple" routerLink="https://music.apple.com/us/album/tip-toe/1531593507?i=1531593513"><i class='bx bxl-apple bx-sm mx-2' ></i></a>
              <a class="spotify" routerLink="https://open.spotify.com/track/0DcZ48upXplJnM9HydULoj?si=6bd35b178988425c"><i class='bx bxl-spotify bx-sm mx-2'></i></a>
              <i class='bx bxs-download bx-sm mx-2'></i>
            </div>
          </div>
        </div>
        <div class="mb-4" >
          <div class="container">
          <p class="text-dark font-weight-bold p-cus-margin">Rewind</p>
          </div>
          <div class="artist-music-list">
            <audio controls>
              <source src="https://music.apple.com/us/album/rewind/1530332887?i=1530332892" type="audio/mpeg">
            </audio>
            <div class="artist-music-links">
              <a class="apple" routerLink="https://music.apple.com/us/album/rewind/1530332887?i=1530332892"><i class='bx bxl-apple bx-sm mx-2' ></i></a>
              <a class="spotify" routerLink="https://open.spotify.com/track/5WmAhHrBnffJVNet58LHZx?si=95b57fa60a2c4fd0"><i class='bx bxl-spotify bx-sm mx-2'></i></a>
              <i class='bx bxs-download bx-sm mx-2'></i>
            </div>
          </div>
        </div>

        <div class="text-dark container">
          <p>Want to listen to more? Check out Kijah Jesse on </p>
          <a href="https://music.apple.com/us/artist/kijah-jesse/1530332891"><i class='bx bxl-spotify spotify bx-sm mx-2'></i></a>
          <a href="https://open.spotify.com/artist/3zncCUn0lagwAeSVeOXiuq"><i class='bx bxl-apple apple bx-sm mx-2' ></i></a>

        </div>
      </div>
    </div>
  </div>

</div>
