    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="about-body">
      <div class="row text-light">
        <div class="text-center">
           <p>
            Xolid Music Record is a Nigerian-based
            entertainment company, founded in 2019
            by music producer FeezyB.
           </p>
           <p>
            The label has signed acts who are fully
            ready to tune the African music world
            with mind blowing creativity.
            We definitely have nothing to lose but
            bringing out the best entertainments
            from africa
           </p>
           <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat recusandae unde amet velit deserunt, id reiciendis rem quibusdam vero dolores mollitia earum, veritatis ad voluptatibus aliquid corrupti laboriosam tenetur?
           </p> -->
        </div>
      </div>

    </div>




