    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="about-body">
      <div class="row text-light">
        <div class="col-lg-6 d-flex justify-content-center">
            <!-- <div class="d-flex justify-content-center about-img">
            </div> -->
        </div>
        <div class="col-lg-6 text-center">
           <p>
            Solid music records is an independent entertainment company. Founded in 2019 as a record label by music producer, FeezyB.
           </p>
           <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat recusandae unde amet velit deserunt, id reiciendis rem quibusdam vero dolores mollitia earum, veritatis ad voluptatibus aliquid corrupti laboriosam tenetur?
           </p>
           <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat recusandae unde amet velit deserunt, id reiciendis rem quibusdam vero dolores mollitia earum, veritatis ad voluptatibus aliquid corrupti laboriosam tenetur?
           </p> -->
        </div>
      </div>

    </div>




