    <!-- HEADER -->
    <app-header-two></app-header-two>
    <!-- HEADER -->

    <div class="about-body">
      <div class="row text-light">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center about-img">
                <!-- <img src="../../../../assets/images/img2.jpg" alt="" srcset="" class="about-img"> -->
            </div>
        </div>
        <div class="col-lg-6">
           <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate velit eaque non ad incidunt ab voluptatibus illum numquam quo, a nam deleniti est molestias omnis. Facere dicta natus commodi dolorem?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quibusdam suscipit corporis similique numquam, ipsam repellat velit porro dolore magnam dolor et maiores libero, in illum earum facere. Cumque, totam.
           </p>
           <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat recusandae unde amet velit deserunt, id reiciendis rem quibusdam vero dolores mollitia earum, veritatis ad voluptatibus aliquid corrupti laboriosam tenetur?
           </p>
           <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugiat recusandae unde amet velit deserunt, id reiciendis rem quibusdam vero dolores mollitia earum, veritatis ad voluptatibus aliquid corrupti laboriosam tenetur?
           </p>
        </div>
      </div>

    </div>
